* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(50, 52, 51);
  justify-content: space-around;
}

.header-img {
  width: 70px;
}

section p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
